@keyframes react-placeholder-pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.my_image[data-settled="false"] {
  animation: react-placeholder-pulse 1.5s infinite;
}
